*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  padding: 0 1rem; }

img {
  max-width: 100%; }

.btn {
  background-color: #f15e50;
  color: #fffdfa;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.85rem;
  border: none;
  width: 12rem;
  padding: 1rem 0; }

main {
  max-width: 1000px;
  margin: 0 auto; }

@media (min-width: 900px) {
  .btn {
    padding: 0.75rem 0; }
    .btn:hover {
      cursor: pointer;
      background-color: #00001a; } }
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu-logo {
    max-width: 3rem; }
  .menu-toggle-icon {
    z-index: 100; }
  .menu li {
    list-style: none; }
  .menu a {
    text-decoration: none;
    color: inherit; }

@media (max-width: 899px) {
  .menu {
    height: 65px; }
    .menu-nav {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      display: none; }
      .menu-nav.active {
        display: block; }
      .menu-nav nav {
        background-color: #fffdfa;
        position: absolute;
        right: 0;
        height: 100vh;
        width: 70vw; }
        .menu-nav nav ul {
          position: absolute;
          top: 30%;
          transform: translateY(-30%); }
        .menu-nav nav li {
          padding: 0.5rem 1rem; } }
@media (min-width: 900px) {
  .menu {
    margin: 3.5rem 0 2rem; }
    .menu-toggle-icon {
      display: none;
      visibility: hidden; }
    .menu-nav {
      display: block;
      position: initial; }
      .menu-nav ul {
        display: flex; }
      .menu-nav li {
        margin-left: 1rem; }
        .menu-nav li:last-of-type a {
          padding-right: 0; }
      .menu-nav a {
        padding: 1rem;
        display: inline-block; }
        .menu-nav a:hover {
          cursor: pointer;
          color: #f15e50; } }
.header {
  margin-bottom: 2rem; }
  .header-title {
    margin-top: 1rem;
    color: #00001a;
    font-weight: 800;
    font-size: 2.25rem; }
  .header-text {
    margin: 1rem 0;
    color: #5d5f79; }
  .header .btn {
    margin-bottom: 1.5rem; }
  .header .news {
    background-color: #00001a;
    color: #fffdfa;
    padding: 1rem; }
    .header .news-title {
      color: #e9ab53; }
    .header .news-article {
      padding: 1.25rem 0;
      border-bottom: 1px solid #c5c6ce; }
      .header .news-article-title {
        color: inherit;
        font-weight: 700;
        font-size: 1rem;
        text-decoration: none;
        margin-bottom: 0.75rem;
        display: block; }
      .header .news-article-text {
        color: #c5c6ce;
        font-size: 1rem; }
    .header .news-article:last-of-type {
      border-bottom: none; }

@media (min-width: 900px) {
  .header {
    display: grid;
    column-gap: 1.5rem;
    row-gap: 1rem;
    grid-template-areas: "img img news" "title text news" "title btn news"; }
    .header-image {
      grid-area: img; }
      .header-image img {
        height: 100%; }
    .header-title {
      grid-area: title;
      font-size: 3rem; }
    .header-text {
      grid-area: text;
      line-height: 1.6; }
    .header .news {
      grid-area: news;
      padding: 1.5rem; }
      .header .news-title {
        font-size: 2.75rem; }
      .header .news-article-title:hover {
        color: #e9ab53; }
      .header .news-article-text {
        font-size: 0.9rem;
        line-height: 1.6; }
    .header .btn {
      grid-area: btn;
      margin-bottom: 0; } }
.most-viewed-article {
  display: grid;
  grid-template-columns: 35% auto;
  gap: 1rem;
  margin-bottom: 1rem; }
  .most-viewed-article-image {
    width: auto; }
    .most-viewed-article-image img {
      width: 100%; }
  .most-viewed-article-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .most-viewed-article-title {
    font-size: 1rem;
    font-weight: 800;
    color: #00001a;
    margin: 0.75rem 0;
    text-decoration: none; }
  .most-viewed-article-text {
    color: #5d5f79; }
.most-viewed-number {
  font-size: 2rem;
  color: #c5c6ce; }

@media (min-width: 900px) {
  .most-viewed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 4rem 0; }
    .most-viewed-article-title:hover {
      color: #f15e50; } }

/*# sourceMappingURL=styles.css.map */
