*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// font family
$font-family: "Inter", sans-serif;

// colors
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

$black-opacity: rgba(0, 0, 0, 0.5);

body {
	font-family: $font-family;
	padding: 0 1rem;
}

img {
	max-width: 100%;
}

.btn {
	background-color: $soft-red;
	color: $off-white;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 0.85rem;
	border: none;
	width: 12rem;
	padding: 1rem 0;
}

main {
	max-width: 1000px;
	margin: 0 auto;
}
