.header {
	margin-bottom: 2rem;

	&-title {
		margin-top: 1rem;
		color: $very-dark-blue;
		font-weight: 800;
		font-size: 2.25rem;
	}

	&-text {
		margin: 1rem 0;
		color: $dark-grayish-blue;
	}

	.btn {
		margin-bottom: 1.5rem;
	}

	.news {
		background-color: $very-dark-blue;
		color: $off-white;
		padding: 1rem;

		&-title {
			color: $soft-orange;
		}

		&-article {
			padding: 1.25rem 0;
			border-bottom: 1px solid $grayish-blue;

			&-title {
				color: inherit;
				font-weight: 700;
				font-size: 1.15rem;
				text-decoration: none;
				margin-bottom: 0.75rem;
				display: block;
			}

			&-text {
				color: $grayish-blue;
			}
		}

		&-article:last-of-type {
			border-bottom: none;
		}
	}
}

@media (min-width: 900px) {
	.header {
		display: grid;
		column-gap: 1.5rem;
		row-gap: 1rem;
		grid-template-areas:
			"img img news"
			"title text news"
			"title btn news";

		&-image {
			grid-area: img;

			img {
				height: 100%;
			}
		}

		&-title {
			grid-area: title;
			font-size: 3rem;
		}

		&-text {
			grid-area: text;
			line-height: 1.6;
		}

		.news {
			grid-area: news;

			&-title {
				font-size: 2.75rem;
			}
		}

		.btn {
			grid-area: btn;
			margin-bottom: 0;
		}
	}
}
