.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-logo {
		max-width: 3rem;
	}

	&-toggle-icon {
		z-index: 100;
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

@media (max-width: 899px) {
	.menu {
		height: 65px;

		&-nav {
			background-color: $black-opacity;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 100vh;
			display: none;

			&.active {
				display: block;
			}

			nav {
				background-color: $off-white;
				position: absolute;
				right: 0;
				height: 100vh;
				width: 70vw;

				ul {
					position: absolute;
					top: 30%;
					transform: translateY(-30%);
				}

				li {
					padding: 0.5rem 1rem;
				}
			}
		}
	}
}

@media (min-width: 900px) {
	.menu {
		margin: 1.5rem 0;

		&-toggle-icon {
			display: none;
			visibility: hidden;
		}

		&-nav {
			display: block;
			position: initial;

			ul {
				display: flex;
			}

			li {
				margin-left: 1rem;

				&:last-of-type {
					a {
						padding-right: 0;
					}
				}
			}

			a {
				padding: 1rem;
				display: inline-block;

				&:hover {
					cursor: pointer;
					color: $soft-red;
				}
			}
		}
	}
}
