.menu {
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-logo {
		max-width: 3rem;
	}

	&-toggle-icon {
		z-index: 100;
	}

	&-nav {
		background-color: $black-opacity;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100vh;
		display: none;

		&.active {
			display: block;
		}

		nav {
			background-color: $off-white;
			position: absolute;
			right: 0;
			height: 100vh;
			width: 70vw;

			ul {
				position: absolute;
				top: 30%;
				transform: translateY(-30%);
			}

			li {
				list-style: none;
				padding: 0.5rem 1rem;
			}

			a {
				text-decoration: none;
				color: inherit;
			}
		}
	}
}
