.most-viewed {
	&-article {
		display: grid;
		grid-template-columns: 35% auto;
		gap: 1rem;
		margin-bottom: 1rem;

		&-image {
			width: auto;

			img {
				width: 100%;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		&-title {
			font-size: 1rem;
			font-weight: 800;
			color: $very-dark-blue;
			margin: 0.75rem 0;
		}

		&-text {
			color: $dark-grayish-blue;
		}
	}

	&-number {
		font-size: 2rem;
		color: $grayish-blue;
	}
}
